[2015-01-08 18:58] charri opened #2 "Fixed Width Icons"
Fixed-width for TextBlock based FontAwesome option.
http://fontawesome.io/examples/#fixed-width

[2015-01-08 19:00] charri opened #3 "Rotated & Flipped"
Add rotated and flipped in combination with spinning icons.

http://fontawesome.io/examples/#rotated-flipped

[2015-01-08 19:02] charri opened #4 "TextBlock font overlap bug"
TextBlock icons are sometimes placed outside of actual UIElement (apparent when clipping), probably something to do with LineHeight.

[2015-01-08 19:04] charri opened #5 "Stacked Icons"
Either create custom control or provide an example how to accomplish.

http://fontawesome.io/examples/#rotated-flipped

[2015-02-06 14:16] pushrbx opened #6 "Example doesn't build"
In the newer version (4.2.0.2) the example doesn't build. The Spin property is missing, and the references are incorrect in the xaml files.

![image](https://cloud.githubusercontent.com/assets/6832715/6080581/952a31e8-ae0a-11e4-8632-c01058c6e5cf.png)

Visual Studio 2013 Ultimate

[2015-02-06 22:00] charri commented on #6
Thank you for your comment.

I was able to verify the problem. will have a more detailed look tomorrow. Until then i advise to change the xaml namespace reference from

[code]
to
[code]

it should work like that.

[2015-02-07 18:14] charri commented on #6
basically the packages.config was referencing to an obsolete package. the example has been fixed. you will need to restore the nuget packages, remove the old package from nuget's package folder. If visual studio still complains, clean the solution and restart visual studio (did the trick for me)

[2015-02-07 18:14] #6 closed

[2015-03-23 10:50] swellfr opened #7 "Cannot add nuget package to Windows Phone 8.1 application"
When I try to install the nuget package 4.3.0.2, I have this error:

Failed to add reference to 'PresentationCore'. Please make sure it is in the global assembly cache.

[2015-03-23 22:15] charri commented on #7
I'm guessing the PresentationCore is not available for Windows Phone SDK, so that is why the error occurs.

As you can see from the screenshot below, the dll is used in several places so simply dereferencing won't help...

![image](https://cloud.githubusercontent.com/assets/5507128/6791735/b57f7500-d1b1-11e4-82e0-ac9d3ddda98c.png)

Have you tried using the following package instead? Haven't used i

[2015-03-23 22:48] swellfr commented on #7
This package is not working, it is compiled in debug and cannot be deployed to store...

I'm finally using FontAwesome directly.

[2015-03-24 14:28] charri commented on #7
:thumbsup:

[2015-03-24 14:28] #7 closed

[2015-06-08 10:44] MendelMonteiro opened #8 "Only load nuget start page on install"
Currently the page is loaded each time you start the nuget package manager console and this is driving me nuts.

[2015-06-08 18:44] charri commented on #8
newest stable version (4.3.0.3) can be installed from https://www.nuget.org/packages/FontAwesome.WPF/4.3.0.3
thanks again.

[2015-06-08 18:44] #8 closed

[2015-06-09 12:33] MendelMonteiro commented on #8
Thanks for the nuget package!

[2015-06-16 06:44] charri opened #10 "Vector based implementation"
replace font with vectors (svg) file.

Maybe provide control per glyph
´´´
<fa:Glas />
´´´

[2015-07-02 00:29] BrainCrumbz opened #11 "[Question] Does the Nuget package include the font as resource?"
I'd like to use FontAwesome as a *regular* font resource, alike what's been done in [this article](http://www.alteridem.net/2014/02/24/custom-fonts-in-wpf-applications/) or [this SO thread](http://stackoverflow.com/questions/23108181/changing-font-icon-in-wpf-using-font-awesome).

Thus I was wondering if the installed Nuget package also includes the font as a resource. I checked the package folder

[2015-07-02 12:29] charri commented on #11
@BrainCrumbz yes it does.

Have a look at [FontAwesome.cs](https://github.com/charri/Font-Awesome-WPF/blob/master/src/FontAwesome.WPF/FontAwesome.cs)

this code should work out of the box if you have the dll referenced
[code]

[2015-07-02 14:44] BrainCrumbz commented on #11
Thanks for your reply. In the meantime I was using the downloaded TTF file, and I also went on with other tests.
**Before** I was trying to set `FontFamily` in code, to be used in a custom Behavior + Attached Dependency Property, with the idea of submit that to your repository. Then, tinkering more with code, I ditched the idea of Behaviour and I turned towards working with a Style + Attached Depe

[2015-07-03 10:59] charri commented on #11
I have the same issue with the controls I created. The Visual Studio Designer does not seem to take embedded fonts into account. The only way seems to install the font to the system work back with fallback values: [have a look here](http://stackoverflow.com/questions/29615572/visual-studio-designer-isnt-displaying-embedded-font/29636373#29636373)

[2015-07-04 14:12] #11 closed

[2015-07-20 20:51] charri opened #13 "nuget: Assembly not inside a framework folder."
Description: The assembly 'lib\FontAwesome.WPF.dll' is placed directly under 'lib' folder. It is recommended that assemblies be placed inside a framework-specific folder.
Solution: Move it into a framework-specific folder. If this assembly is targeted for multiple frameworks, ignore this warning.

[2015-07-30 15:34] TrabacchinLuigi opened #14 "Strong name is required in many situations"
Strong name the assembly or it would not be usable in many situations

[2015-07-30 19:21] charri commented on #14
this is definitely something I will look into.

[2015-09-23 18:19] ephracis opened #15 "Cannot resolve schemas.fontawesome.io"
I have added FontAwesome.WPF via Nuget (version 4.4.0.5). I'm getting the following errors when trying to use it inside my XAML:

When I try to ping `schemas.fontawesome.io` it fails to resolve the name.

[2015-10-01 08:59] punker76 opened #16 "Changable Duration for Spinning Icons"
It would be nice to change the Duration (default 1s) of `ISpinable` control via a new `DependencyProperty`.

[2015-10-14 20:12] charri commented on #15
Hi @ephracis, the `schemas.fontawesome.io` is just a pseudo namespace (there is no http://schemas.fontawesome.io). What VS version are you using? I have tried both VS2013 + VS2015 and all seem to work for me.

[2015-10-14 20:47] #16 closed

[2015-10-14 20:49] punker76 commented on #3
@charri i would like do this...

[2015-10-14 20:56] charri commented on #3
Sure, feel free. I tried to create a proof of concept, but got stuck in combination with the spin functionality (kept resetting to angle 0 etc).
On 14 Oct 2015 22:49, Jan Karger <notifications@github.com> wrote:@charri i would like do this...

—Reply to this email directly or view it on GitHub.

[2015-10-16 12:57] sebascomeau opened #19 "Example project doesn't build."
The example project doesn't build.

Here's the error list:

![image](https://cloud.githubusercontent.com/assets/2814465/10542117/4105a54a-73ec-11e5-87ae-16460d99a930.png)

[2015-10-16 18:22] charri commented on #3
great work.

[2015-10-16 18:22] #3 closed

[2015-10-16 18:41] punker76 commented on #19
@sebascomeau that's cause the example resolves the NuGet dll and doesn't use the compiled dll. For fast workaround, just compile the FontAwesome dll by yourself and reference it manually.

[2015-10-16 18:47] charri commented on #19
@sebascomeau as this problem has occured in the past, the example project now references the FontAwesome project in the src folder instead of the nuget. Pull to get the latest and greatest! :+1:  :)

[2015-10-16 18:47] #19 closed

[2015-10-23 21:20] andrewcartwright1 opened #20 "Image = FontAwesome Image?"
Hey, great work on this.

I have recently added this to my app and have removed quite a lot of images I designed myself in favor of this. I'm wanting to use this in collaboration with Material Menu, which can set an Image in the MenuButton Control ie:
[code]

I was wondering if there was a way in the xaml to have it use a fontAwesome image? Or would this have to be set in the code behind?

Many th

[2015-10-23 21:22] punker76 commented on #20
@andrewcartwright1 what is `materialMenu:MenuButton`? is it a 3rd party lib?

[2015-10-23 21:24] andrewcartwright1 commented on #20
Yeah, https://github.com/beto-rodriguez/MaterialMenu

[2015-10-23 21:32] punker76 commented on #20
@andrewcartwright1 after first fast look it seems the MaterialButton should be allow this...

[2015-10-23 21:35] andrewcartwright1 commented on #20
I'm just wondering how to achieve it.
Xaml is not my strong point.

Currently I'm looking at this

[code]

And seeing errors, I know this is probably the wrong way to do it. Still trying a variety of ways to achieve it.

[2015-10-23 21:38] punker76 commented on #20
@andrewcartwright1 problem is that `Image` property is a `ImageSource`

[2015-10-23 21:49] charri commented on #20
I guess the quickest way, would be to assign the Image in the codebehind.
Another solution would be to create a simple converter to supply an ImageSource from a FontAwesome icon.
In the example project there is an example on how to obtain an ImageSource (icon for Window).

On 23 Oct 2015 23:38, Jan Karger <notifications@github.com> wrote:@andrewcartwright1 problem is that Image property is a Image

[2015-10-23 22:02] andrewcartwright1 commented on #20
Hmm okay, I'll take a look at that.
I guess there is no easier way to do this in the xaml itself ^^.

Thank you

[2015-11-05 23:35] TrabacchinLuigi commented on #14
is there any way i can help with that ?
Do you have some special requirement ?
Like keeping secret the key while keeping everything open source ?

[2015-11-06 21:36] charri commented on #14
Hi @TrabacchinLuigi, could you try this nuget package: https://www.nuget.org/packages/FontAwesome.WPF.Signed/

I opted in creating a seperate package, so developers can use either the signed or unsigned version.

What do you think?

[2015-11-07 18:47] TrabacchinLuigi commented on #14
Sure i will! Monday!

[2015-11-09 09:54] TrabacchinLuigi commented on #14
Good seems everything i working fine with the new version.
I think that having two nuget packages is useless, can't see any advantage in using a non-signed version ... i would just go over the current package...

[2015-11-11 15:40] charri commented on #14
this is something i would merge yes. just didn't want to f-up the "main" and stable version.

[2015-11-11 16:29] #20 closed

[2015-11-17 18:54] bzuillsmith commented on #14
Could this be reopened until it's published in the regular package? A strong-named (signed) dll only allows references to other strong-named dlls so this is a pretty big issue. It would be helpful to be notified through this thread when you have this published in the main nuget package. For now, I'm also using the signed package

[2015-11-17 21:11] TrabacchinLuigi commented on #14
Yes, would be nice to receive a notification so I'll reopen my solutions and change package

[2015-11-18 20:28] charri commented on #14
will close once merged.

[2015-12-03 21:52] addftoxic opened #22 "Get Icon By ID"
Would it be possible to generate a function that receives string representing the ID of the icon, as can be found on https://fortawesome.github.io/Font-Awesome/icons/ , and returns the enum that can be bound in a <fa:ImageAwesome> tag?
If the string does not match with any valid icon, I'd imagine the function returning 'question', though maybe a second parameter could accept the preferred "error"

[2015-12-03 22:13] charri commented on #22
currently the id is only used during the FontAwesomeIcon enum generation process to build the cref url for xmldoc.
I personally would create a converter to convert the string to an enum to bind to an fa:ImageElement, just need to add the Id as an attribute (get by reflection) or a static lookup dictionary generated the same time as the FontAwesomeIcon

Its certainly something I would be willing to

[2016-01-03 08:55] #15 closed

[2016-01-03 19:16] charri commented on #22
There is now an example on how to do this (release 4.5.0.7).

[2016-01-03 19:18] charri commented on #14
As of 4.5.0.7 (commit 9382c418669df543f70cad61fa8b1a0212d99bd9) dlls will be signed.

[2016-01-03 19:18] #14 closed

[2016-01-03 19:18] charri commented on #13
Fixed as of 4.5.0.7 (commit 9382c418669df543f70cad61fa8b1a0212d99bd9)

[2016-01-03 19:18] #13 closed

[2016-01-04 06:08] robertmuehsig opened #23 "Universal Windows Platform Support"
Even if the project is named and targets WPF - are you planning to support UWP projects as well?

When I try to install the package it fails:
FontAwesome.WPF 4.5.0.7 is not compatible with UAP,Version=v10.0.
Some packages are not compatible with UAP,Version=v10.0.

Maybe the code could "just work" on UWP and just the NuGet Package needs some updated targets.

[2016-01-04 06:40] charri commented on #23
The apis for UWP and WPF are very similar. I'll give it a go tonight and see how much work would be involved.

[2016-01-04 07:05] robertmuehsig commented on #23
:+1: If you need help or currently don't have time let me know, so I could take a look.

[2016-01-05 20:08] charri commented on #23
Hmmm TextBlock/Image is sealed in UWP, so won't be that straightforward... grr...

[2016-01-07 16:11] addftoxic commented on #22
Thanks - that's awesome. But it doesn't work for all icons. From what I can tell, it seems to be coughing up on icons with aliases. For example: umbrella, book, wrench, search, and check-square-o all work; but exclamation-triangle (AKA warning), users (AKA group), and clipboard (AKA paste) all show FontAwesomeIcon.None using FromStringToIcon and null using FromIconToString.

[2016-01-12 08:18] CADbloke commented on #19
Build is still broken. But thanks for making this.

Steps to repo...

1. Clone
1. Open `Font-Awesome-WPF\example\Example.FontAwesome.WPF.sln`
1. Build.
1. Tried restoring  Nuget etc. Nup.

![fontawesomewpfexamplebuilderrors](https://cloud.githubusercontent.com/assets/147329/12258224/1e4f67ce-b961-11e5-94b3-a101ee4ce31b.png)

[code]

[2016-01-12 09:38] charri commented on #19
this is because the FontAweseom submodul is not loaded:
[code]

[2016-01-12 09:40] charri commented on #22
Aliases will not work - as they have the same value as that of a normal icon, i wouldn't be able to create a two-way binding.

I will have a look at the icons with aliases - must be doing something wrong - grr

thanks for reporting :+1:

[2016-01-12 09:49] CADbloke commented on #19
Thanks. LUser.FAIL - Tortoisegit doesn't do that  automagically,

For all you other LUsers out there - http://stackoverflow.com/questions/16058917/pulling-git-submodules-with-tortoisegit

TGit has a ticket open for this: https://gitlab.com/tortoisegit/tortoisegit/issues/1888

[2016-01-14 14:05] ImaginaryDevelopment opened #24 "TextBlock code-behind"
There's an example of setting an icon, but none of TextBlock purely in code-behind, how would I do that? so far in my attempts the binding error is `FontAwesomeIcon` property not found on 'object'.

[2016-01-14 14:24] charri commented on #24
could you paste some code - would help me understand the issue.

[2016-01-14 14:25] ImaginaryDevelopment commented on #24
[code]

lots of sample other attempts in comments

[2016-01-14 14:31] ImaginaryDevelopment commented on #24
also tried

[code]

[2016-01-14 14:35] charri commented on #24
not tested but you should be able to do this:

[code]
for more see:
https://github.com/charri/Font-Awesome-WPF/blob/master/src/FontAwesome.WPF/FontAwesome.cs

[2016-01-14 14:40] ImaginaryDevelopment commented on #24
tried making what I think your recommended adjustment was, did not work

[code]

[2016-01-14 14:52] charri commented on #24
Would you mind taking 5 min to look at the FontAwesome.cs code?

you could just put instead of the binding as your not binding to anything that would cause a INotifyPropertyChanged:
´´´
t.Icon = FontAwesomeIcon.Flag;
´´´
If you need to use binding then you need to bind to the FontAwesome.IconProperty (TextProperty will not work)

cheers

[2016-01-14 14:54] ImaginaryDevelopment commented on #24
that worked, I did look at the code you linked, twice. I have/had no idea how to interpret it.
this code works, but I bet I don't need to be doing all that work. like I didn't actually need a binding.

working code:

[code]

how would I do it without using a binding?

[2016-01-14 14:56] ImaginaryDevelopment commented on #24
nevermind, didn't need the binding stuff at all

[code]

thanks for the help and prompt replies.

[2016-01-14 14:56] #24 closed

[2016-01-23 19:27] robertmuehsig commented on #23
UWP itself seems to use "[SymbolIcon](https://msdn.microsoft.com/de-ch/library/windows/apps/windows.ui.xaml.controls.symbolicon)", e.g.

    <SymbolIcon Width="48" Height="48" Symbol="Home" />

Is this useful?

[2016-01-28 21:46] robertmuehsig commented on #23
Ok, found a way via the FontIcon class. This is more or less the most simple solution for UWP:

[code]

In XAML:
The first one is the pure FontIcon class in action. The FontAwesome class is just a converter for the Glyph.

        <FontIcon FontFamily="./fontawesome.otf#FontAwesome" Glyph="&#xf0b2;"></FontIcon>
        <local:FontAwesome Icon="Android" />
        <local:FontAwesome Icon="Leaf" Fon

[2016-01-28 22:02] TrabacchinLuigi commented on #23
Same nuget package different framework folder ? maybe ? UWP isn't part of .net core ?

[2016-01-29 06:26] robertmuehsig commented on #23
UWP uses .NET Core, but has a complete new UI/Xaml Stack.
WPF don't uses .NET Core.

The FontAwesome Class in the current FontAwesome.WPF package uses the TextBlock class from WPF, but in the UWP world this is not possible.
 I would recommand a new package because the naming is missleading - UWP has not much in common with WPF and the whole implementation is different.

Another idea: We create a n

[2016-01-29 06:51] charri commented on #23
Maybe I should also rename the package to *.Core to keep up with the trend :p. Pun aside, I think it would be best to create two packages (FontAwesome.WPF, FontAwesome.UWP) - for naming sake but include all the targets. If the codebase drifts further apart for the targets it might make sense to 'hard fork' the UWP.. But we're not at tht stage yet.

I'll review the code at the weekend and might ask

[2016-01-29 06:57] robertmuehsig commented on #23
+1 for .Core ;)

Glad I could help.

[2016-01-31 18:32] charri commented on #23
@robertmuehsig had a go at your code - works fine if font is in the same project, but can't find the proper format to package the font file in a class library. There also does not seem to be any doc on how to load fonts from a class library in UWP.

[2016-01-31 18:43] robertmuehsig commented on #23
Ah, ok. Will try to take a look this week. UWP is a miracle sometimes...

[2016-01-31 19:13] robertmuehsig commented on #23
Mh, tried it and had no issues, or do I miss something?

Code here: https://github.com/robertmuehsig/Font-Awesome-WPF

![image](https://cloud.githubusercontent.com/assets/756703/12704252/041eb166-c857-11e5-916e-5203a105f047.png)

[2016-01-31 19:45] charri commented on #23
how did you specify the FontFamily? (Uri)
I am able to create the control - but it just shows a box when run, as if the font was unable to load

[2016-02-01 06:26] robertmuehsig commented on #23
In the Library:
Added the FontAwesome.otf file with Build Action "Resource"

In the FontAwesome class:

    this.FontFamily = new FontFamily("./fontawesome.otf#FontAwesome");

[2016-02-08 20:28] charri commented on #23
so i've been going over your project and comparing it to mine and I just can't get my head around what would cause my project not to work. I downloaded your fork but also got the same results (just character square). It only works if the font file is in the same project.

Going to see how to load from an embedded resource

[2016-02-09 06:18] robertmuehsig commented on #23
Mhhh... tried it again on my workmachine with the same result you saw. I will take a look why it worked on my notebook without any issues.

[2016-02-09 07:41] Alex-Witkowski commented on #23
Hi There,
left a pull request on roberts Demo.

What works for me is to set FontAwesome as Contet. So it is part of the AppX Bundle created for UWP apps.

After that I referenced the file inside the package in the code for the converter.

Should also work on your side.

@robertmuehsig I think it works on your private dev machine because you have added/installed FontAwesome as systemfont. Thats a l

[2016-02-09 07:49] robertmuehsig commented on #23
I checked @Alex-Witkowski PR and it now seems to work on my work machine. The link to the PR: "https://github.com/robertmuehsig/Font-Awesome-WPF/pull/1"

@Alex-Witkowski So, the path "ms-appx:///FontAwesome.UWP.Lib" is the assembly name of the library, right?

[2016-02-09 08:05] Alex-Witkowski commented on #23
@robertmuehsig The ms-appx:/// part says something should be load from the appX package (or at least from the folder on your disk wich contains the stuff of the package).

And the contetns form FontAwesome.UWP.Lib are stored in an folder named like the assembly inside the package. There comes the "FontAwesome.UWP.Lib/" from. You can see the structure of the Appx in your Debug folder.

[2016-02-09 13:40] charri commented on #23
Cool stuff :+1: I'll try it out tonight. Hopefully release by end of week

[2016-02-25 11:30] dotnetnoobie commented on #23
@robertmuehsig I used your demo project but updated it to use a **DependencyProperty** so I could **DataBind** the Icon and Update it from a **ViewModel**

[code]

[2016-02-25 15:03] Alex-Witkowski commented on #23
This could cause a crash when `IconPropertyChangedCallback` is called with e.NewValue = null which
I think is possible when you use it in a custom control and xaml parser calls this before "OnApplyTemplate" where any value might be set. Will have a look at it before Monday.

[2016-02-29 08:18] robertmuehsig commented on #23
@charri Any updates? If you need any help just let me know.

[2016-03-01 11:55] charri commented on #23
![image](https://cloud.githubusercontent.com/assets/5507128/13426296/c75ff790-dfac-11e5-85e4-47f260a6ee9c.png)

@robertmuehsig  nearly there. demo project is done. just have to update the documentation and then publish the nugets!

[2016-03-01 14:21] realies opened #26 "Awesome.Content attached property does not support converting from string"
XAML Designer fails to render buttons with Awesome.Content attached property. It compiles fine.
VS14.0.24720.00 Update 1 / .NET 4.6.01038

![image](https://cloud.githubusercontent.com/assets/5107843/13429576/d040f380-dfb8-11e5-9901-759fc250be0a.png)

[2016-03-01 15:34] charri commented on #26
[https://github.com/charri/Font-Awesome-WPF/blob/master/example/Example.FontAwesome.WPF/Single.xaml#L41](did you see this comment?)

I think this could be solved by providing a TypeConverter for the enum. i.e.
`[TypeConverter(typeof(FontAwesomeStringConverter))]`

would be cool to have better vs designer support - will have a look into the problem

[2016-03-01 15:36] robertmuehsig commented on #23
<3

[2016-03-01 16:39] realies commented on #26
Am I supposed to override something with this?

[2016-03-01 20:50] charri commented on #26
Hmm strange, just tried out the demo project with visual studio 2015 (same build and .net version) and did not receive the error messages you describe. do you have any special project settings set? (warning level etc?)

[2016-03-02 09:15] realies commented on #26
I've installed VS recently and haven't touched the default settings.

[2016-03-03 20:40] charri commented on #23
http://www.nuget.org/packages/FontAwesome.UWP/
http://www.nuget.org/packages/FontAwesome.WPF/

Tested and works. Strange thing, when the project is referenced as source the designer shows the font, if referenced as nuget package it just shows a square (works in running app though).

[2016-03-03 21:18] dygestor commented on #23
Thank you very much, it works flawlessly :) Just today I started developing an app and I was wondering, if anyone managed to get fontawesome working on UWP. Great job!

[2016-03-03 22:41] robertmuehsig commented on #23
:+1: I don't have the designer issue you described - works as expected. But UWP and the VS designer are sometimes weird ;). Awesome job!
![image](https://cloud.githubusercontent.com/assets/756703/13512156/55e499d8-e199-11e5-9fe5-0039f1097e7c.png)

I would say - we can close this issue.

[2016-03-03 22:41] #23 closed

[2016-03-30 15:05] DesselBane opened #27 "ImageSourceConverter not usable as MarkupExtension ?"
Hi @charri
Maybe I used it wrong but to my understanding the FontAwesome.WPF.Converters.ImageSourceConverter which inherits from MarkupExtension cannot be used as such since its ProvideValue Function returns a this refrence.

Would it be possible to adapt it a little bit so it would be usable as a MarkupExtension ?

Right now I use this as a MarkupExtension :

`
public class ImageSourceFromFont :

[2016-04-15 14:13] Simonlabdes opened #28 "NOT AN ISSUES - How to add new glyph/icons with this project?"
Hi!  I know it is not a issue, but I dont know how to ask a question on git-hub...sorry..!

So I just wanted to know if and how we can add new icons to the set of icons found here?

thanks!

[2016-04-18 09:56] charri commented on #28
A bit out-of-scope for this project :)

this project uses icons from [font-awesome](http://fontawesome.io/).
If you have your own glyph font then you could just replace the font file and map the unicode character to an enum. (its all in the source)

Closing here as out-of-scope

[2016-04-18 09:56] #28 closed

[2016-04-18 10:03] charri commented on #27
That is strange, I based the implementation of the [ImageSourceConverter](https://github.com/charri/Font-Awesome-WPF/blob/master/src/WPF/FontAwesome.WPF/Converters/ImageSourceConverter.cs) on this: http://stackoverflow.com/questions/7445119/improved-ivalueconverter-markupextension-or-dependencyobject

And I do see the brush change if I pass it as a parameter :/

We'll have a look over and try to g

[2016-04-20 16:01] DesselBane commented on #27
Ok well I guess its used in a different way then I expected.
Like this you can use the Converter without declaring it as a Resource somewhere.
What I though it would be used like was this:

`Icon="{MarkupExtensions:ImageSourceFromFont FontIcon={StaticResource FI_Document} }"`

So that you can set a Property which is an ImageSource with it directly (since there is no Binding)
Maybe you could add su

[2016-07-21 08:27] Askerad commented on #5
You can already stack icons via the `<Grid> </Grid>` Control

Example :
[code]

Will give you Something like this
![sans titre](https://cloud.githubusercontent.com/assets/3636461/17016092/adf162d0-4f2d-11e6-88da-b52a6fd342b1.png)

[2016-09-26 07:36] drewnoakes opened #33 "Scaling down image messes with icon weights"
`ImageAwesome` internally renders the glyph at 100x100 px, then scales it down to the target size (assuming it's less than 100px).

However this messes with the font weights. Consider this example ([from here](http://fontawesome.io/icon/random/)):

![image](https://cloud.githubusercontent.com/assets/350947/18826080/7b57c3e4-83c3-11e6-8b70-615362232266.png)

At small sizes, the typeface designer pr

[2016-10-06 15:36] charri commented on #33
Cool, thanks for this! I'll look into getting this implemented.

[2016-10-11 09:51] afluegge opened #34 "How to use FontAwesome.WPF when image source URI is required"
I have a situation where I need a URI as an IconSource.  How can I use FontAwesom.WPF in this situation?

Details:
"Extended WPF Toolkit" AvalonDock LayoutAnchorable has a property to set the panel icon ("IconSource") which requires a URI.  The property does not allow binding.  I want to use a FontAwesom icon as the panel icon.
[code]

[2016-10-11 13:01] charri commented on #34
This is currently not supported. Easiest method would be to download the image you need (http://fa2png.io/).

[2016-10-11 13:01] #34 closed

[2016-10-11 17:57] charri commented on #33
![image](https://cloud.githubusercontent.com/assets/5507128/19281918/91c882be-8fec-11e6-8008-2dddfb43ac64.png)

@drewnoakes the top images is rendering the icons on OnDraw to the current Height + Width of the Element. the 2nd image renders as "normal"

To me, they look the same?

[2016-10-11 23:00] drewnoakes commented on #33
Those do look very similar :)

Have you tested on a high DPI screen? I can do that if you push code to a
branch.

On Tue, 11 Oct 2016, 21:53 charri, <notifications@github.com> wrote:

[2016-10-26 08:18] robertmuehsig opened #35 "FontAwesome 4.7/4.6"
Hi

I noticed that there are a bunch of nice new icons added in FontAwesome 4.6/4.7 and I would like to help to update this project to the most recent fontawesome version.

Are these the correct steps?

* Update the FontAwesome submodule to the most recent version
* Use FontAwesome.Generate with the src\icons.yml
* Update the FotnAwesomeIcon.cs files with the generated one
* Update the nuspec file

[2016-10-28 12:07] robertmuehsig commented on #35
I noticed that there is a similar project - so I'm fine with [that](https://github.com/MahApps/MahApps.Metro.IconPacks) project as well ;)

[2016-10-28 12:07] #35 closed

[2016-10-28 12:15] DesselBane commented on #34
Can you use a Resource (Static or Dynamic) ?
Then you could use a MarkupExtension which I suggested [(here)](https://github.com/charri/Font-Awesome-WPF/issues/27) to get the FA into an ImageSource

[2016-11-09 17:26] TrabacchinLuigi opened #36 "Stroke"
I think would be nice to have a stroke feature just like this
https://msdn.microsoft.com/en-us/library/ms745816.aspx
we can find an implementation here
http://stackoverflow.com/a/35262509/1345207
if someone will have the time to try this, i would suggest packetizing this as something new wich we could depend on.

[2016-11-09 21:08] charri commented on #36
Looks doable but would require using the new rendering method used in #33

[2016-11-11 14:25] TrabacchinLuigi commented on #36
sounds like one more reason to implement #33 solution

[2017-01-04 21:40] charri commented on #33
fixed in v4.7

[2017-01-04 21:40] #33 closed

[2017-02-03 11:34] AlexeyShirshov opened #40 "Strange error on windows server 2012"
I've faced with strange error I get on windows server 2012.
`System.Windows.Markup.XamlParseException: Задание свойства "FontAwesome.WPF.ImageAwesome.Icon" вызвало исключение. ---> System.Reflection.TargetInvocationException: Адресат вызова создал исключение.
   в System.Runtime.InteropServices.Marshal.ThrowExceptionForHRInternal(Int32 errorCode, IntPtr errorInfo)
   в System.Runtime.InteropServic

[2017-02-03 12:36] drewnoakes commented on #40
Can you reformat the stack trace? It's very hard to read that way.

[2017-02-15 21:23] TheBrambleShark opened #41 "Misnamed Icon"
Icon `fa-folder-open-o` is listed under `FolderOutlinepenOutline`. Note the missing "O" in "Open."

[2017-02-15 21:33] TheBrambleShark commented on #41
Proposed solution above: Change `FolderOutlinepenOutline` to `FolderOpenOutline` to match original FontAwesome naming scheme.

[2017-03-06 21:20] drewnoakes opened #43 "CssClassNameConverter should also accept "fa-" prefixed class names"
For example, from http://fontawesome.io/icon/wpforms/:

![image](https://cloud.githubusercontent.com/assets/350947/23630238/46970fb6-02b2-11e7-93b7-959e7fb504ed.png)

The string used on the site is `fa-wpforms`, but `CssClassNameConverter` expects `wpforms`.

I worked around this with code such as:

    var faConverter = new CssClassNameConverter();

    var converter = LambdaConverter.Create<stri

[2017-03-11 21:43] JD-V opened #44 "unable to reset spinning icon"
While data Loading process, by making iconObj.spin = true and providing spin duration, Icon starts spinning.
later at completion i am trying to replace spinning icon by check icon and making iconObj.spin = false. But check icon is getting displayed in random angles. and i am not able to reset that angle.

Attached images for reference, anyone can validate this, if there is a way to reset the angle

[2017-03-12 13:27] LeonidDZ opened #45 "Does not get a style"
I tried the FontAwesome.UWP.
Unfortunately it does not get a style:
[code]
And then:
[code]
Nor alignment or a font size.
In addition, it's invisible in design mode, before program running.

[2017-03-31 12:08] drewnoakes opened #46 "Attributes should be sealed"
Reflection over sealed attributes is considerably faster.

https://msdn.microsoft.com/en-us/library/ms182267.aspx

IconCategoryAttribute, IconIdAttribute and IconAliasAttribute are all unsealed.

https://github.com/charri/Font-Awesome-WPF/blob/master/src/WPF/FontAwesome.WPF/Attributes.cs

[2017-05-05 17:27] lrequena opened #47 "Broken spin? (Merge pull request #39 )"
I think this merge broke icon spinning functionallity.
If you set it to Collapse then set it to Visible again it's not spinning.

[2017-05-22 07:28] theescapers opened #48 "Problem with multiple views in UWP"
On using the FontAwesome controls in XAML in multiple views, I am getting crashes. I looked at the code, and I believe the problem to be the use of a static FontFamily object which is getting shared across multiple dispatcher threads.

I tried replacing this shared FontFamily object with a ConcurrentDictionary with the dispatcher as key, and FontFamily as value, which means each dispatcher thread

[2017-07-26 21:35] addftoxic commented on #22
I was doing some testing with this again and I discovered that "exclamation-triangle" and "users" were both working for me, and I'm not sure when this changed. The icons "clipboard" and "bolt" were still showing as boxes. These both have aliases, but I don't know what's different here than the other 2 that are working. I went into the example project to see if these worked there, but could not eve

[2017-10-17 09:21] wonea opened #49 "Example App doesn't support aliases"
The test app doesn't support aliases - not important but a nice to have.

![image](https://user-images.githubusercontent.com/557192/31656856-d0624436-b324-11e7-9201-1a2287122f81.png)

![image](https://user-images.githubusercontent.com/557192/31656874-d868ce52-b324-11e7-85b6-d93ce4660653.png)

[2017-10-17 15:29] Matt-17 opened #50 "Adapting parent foreground"
When using in other control (like ContentControl) ImageAwesome does not use the foreground provided by the parent.

Example:

        <ContentControl Foreground="Red">
            <TextBlock Text="FontAwesome" />
        </ContentControl>`

This gives you a red TextBlock.

        <ContentControl Foreground="Red">
            <fa:ImageAwesome Icon="FontAwesome" />
        </ContentControl>`

This

[2017-11-07 13:30] danbord opened #51 "Icons not visible in design time (UWP)"
The icons works fine when in runtime.  But at design time they're not visible, making the design pretty annoying.  I'm using VS2017 Community Edition.

Here's my Xaml
`<fa:FontAwesome Icon="Backward" Foreground="Black"  />`

[2017-11-07 13:39] vavsab commented on #51
Try install the font to your system. It seems to be a designer bug. Anyway let me know if you have another workaround. I will also apply it to my project.

[2017-11-07 13:59] danbord commented on #51
By Installing the font on the system, you mean download FontAwesome font and double click to install the otf or ttf file?  Tried that but not working for me :/

[2017-11-07 14:14] vavsab commented on #51
Yes, exactly. Strange... Have you tried to restart PC after that?
I have not noticed that you are using UWP. It worked on WPF for me.

[2017-11-07 19:45] danbord commented on #51
FINALLY found it!  Seems like it doesn't play nice with x64 compiling... Just by changing my project configuration to x86 fixed it (the combobox next to the Debug combobox, not in project settings).

else than that, I found that article that lead me to my answer : http://blog.galasoft.ch/posts/2016/02/enabling-disabling-design-data-in-visual-studio-2015-update-1/

[2017-11-13 14:51] #51 closed, assigned to nobody

[2017-11-29 13:29] BelikovSergey opened #52 "Use grayscale antialiasing"
Hi!

I notice that it uses ClearType (colored) antialiasing to render icons. Which is good for text, but bad for icons. Is there a way to use grayscale antialiasing?
![cleartype](https://user-images.githubusercontent.com/1453398/33377400-6abd840e-d522-11e7-91e7-b8f68fed10c5.png)

[2018-01-02 17:26] m314 opened #53 "Update to FontAwesome 5.0.2"
Please update the package to the newest Font Awesome. :)  https://fontawesome.com/

[2018-01-19 12:13] helluvamatt commented on #50
Use `fa:FontAwesome` which extends from `TextBlock`.

Example:

[code]

[2018-02-13 11:06] skourta opened #54 "Changing icon color in XAML"
I want to use the refresh spinning icon but I want to set its color to white.
I tried editing the code around but failed to implement it. here's my code it would be awesome if there was a color attribute.
`<fa:ImageAwesome Icon="Refresh" Spin="True" Height="48" Width="48" />`

[2018-02-13 12:00] drewnoakes commented on #54
Isn't there a `Foreground` attribute?

[2018-02-13 14:53] skourta commented on #54
@drewnoakes, that was embarrassing I tried all the attributes except the foreground I thought that was restricted to text color.Thanks a lot!

[2018-02-13 14:57] drewnoakes commented on #54
You're welcome.

[2018-02-15 20:17] MartinTopfstedt commented on #53
Hi,

i used this source and adapted it to use FontAwesome5 Free. Nuget Package will be available soon.

https://github.com/MartinTopfstedt/FontAwesome5

[2018-03-06 21:27] dnxit commented on #35
@robertmuehsig thanks for the link to MahApps.Metro.IconPacks
I was waiting for the update as well 👍 will switch now

[2018-03-12 17:26] #50 closed, assigned to nobody

[2018-03-20 10:27] PetervdWal opened #55 "Changing button background on hover (WPF)"
Hello fellow Font-Awesome fans:

I am using the WPF for my buttons in the following way:

[code]

Now I would like to have the default hover change, since  i have a transparent background already and only want the icon to change color, not the background:

I do not know what i need to fill in here, and how i could make the Content from the button filled in xaml pass through all the way to my templ

[2018-03-20 10:30] drewnoakes commented on #55
Maybe try adding an actual `IconAwesome` or `ImageAwesome` element inside your button, rather than using the `fa:Awesome.Content` attached property. You'll get more control that way.

[2018-03-20 11:53] PetervdWal commented on #55
Thanks for the suggestion, that was it:

**page.xaml**
[code]
**Style.xaml**
[code]

[2018-03-20 11:53] #55 closed, assigned to nobody

[2018-04-27 22:18] yehanny commented on #53
Yes update to Font Awesome 5 please! Nice project

[2018-06-22 08:22] wonea opened #56 "Upgrade to FontAwesome 5.1"
New Font Awesome 5.1 release, it would be lovely to use the new icons

https://github.com/FortAwesome/Font-Awesome/releases

[2018-07-18 09:47] felunka opened #57 "Change Window Icon to FontAwesome Icon"
Is there any way, to set an FontAwesome Icon as the Icon of a Window?

[2018-10-13 15:26] touseefbsb commented on #53
fontawesome 5.4 has also been just released, has the nuget project been updated yet ? @MartinTopfstedt

[2018-10-13 16:06] punker76 commented on #53
@touseefbsb Font Awesome Free v5.4.1 now included at [IconPacks](https://github.com/MahApps/MahApps.Metro.IconPacks) too.

[2018-10-13 16:45] touseefbsb commented on #53
@punker76  yes but unfortunately it does not work in NavigationView.

[2018-10-13 16:53] MartinTopfstedt commented on #53
@touseefbsb Thanks for the notice I will update it tomorrow.

[2019-01-22 18:22] borislavnnikolov opened #58 "Will there be update for FontAwesome 5?"

[2019-01-22 20:50] TrabacchinLuigi commented on #58
i think there is a fork who does it... but i'm not related to this project, so not an official answer

[2019-01-23 19:10] drewnoakes commented on #58
See the fork https://github.com/MartinTopfstedt/FontAwesome5

(I'm not associated with that work.)

[2019-01-23 19:10] drewnoakes commented on #56
See the fork https://github.com/MartinTopfstedt/FontAwesome5

(I'm not associated with that work.)

[2019-04-05 12:44] ankur4747github opened #59 "How to use FontAwesome Pro in UWP APP"
I want to use Pro in my UWP APP ... need help

[2019-09-26 05:53] JawadJaber opened #60 "How to add additional images to FontAwesome.WPF"
I would like I have the capability to add more images to this library to be used as default. Is there an easy way to do this? Moreover, suppose I have a pro license of font awesome. then is it easy to attach this library to my license

[2019-10-25 15:30] chucker commented on #36
Has anyone taken a stab at this?

Is there a different way to define thickness?

[2019-10-25 15:32] chucker commented on #52
If you use `<FontAwesome>` as the control, then you can set `TextOptions.TextRenderingMode="Grayscale"`. (There doesn't appear to be an equivalent for `<ImageAwesome>`.)

For example:

[code]

[2019-11-22 12:15] eliezeralmeida opened #62 "Display problem: Icons being presented as "G" in windows 7"
I looked for some answers but found nothing to help me solve this problem, could anyone help me?

Follow problem image!

![Image problem](https://user-images.githubusercontent.com/2786448/69424713-14e9fd80-0d08-11ea-919b-700acc5580bd.png)

[2020-01-26 21:40] TheBrambleShark opened #63 "Support .NET Standard"
With .NET Core 3.1, WPF is now supported on the much lighter CoreFx runtime. This is still limited to running on Windows, though this support will be maintained for the forseeable future.

We have two options for implementation:

NetFx 4.5.0 is compatible with NetStandard 1.1. NetFx 3.x is not compatible with NetStandard at all. As such, to maintain current support, we could multi-target 4.5.0 and

[2020-02-21 14:03] Succubussix opened #64 "help already installed but"
The name "FontAwesome" does not exist in the namespace "http://schemas.fontawesome.io/icons/"

i already added the       xmlns:fa="http://schemas.fontawesome.io/icons/"

[2020-03-19 16:55] stebla27 commented on #63
+1

[2020-05-06 13:22] aemarco commented on #63
many wpf applications will also get ported to core3+, so targeting NetStandard would be greatly helpfull there :)

+1

[2020-05-26 13:35] aesalazarln commented on #63
Are any of the owners with merge rights still watching this repo?  If so, I would be willing to attempt to create a PR for this task.

[2020-05-26 13:37] aesalazar commented on #63
Are any of the owners with merge rights still watching this repo? If so, I would be willing to attempt to create a PR for this task.

[2021-04-10 17:29] Malavos commented on #63
Anyone has news on this? I'm interested in using this package on .net core.

[2021-07-11 05:20] imba-tjd commented on #63
I found https://github.com/awesome-inc/FontAwesome.Sharp and https://github.com/MartinTopfstedt/FontAwesome5 which are maintained.

[2021-09-10 15:56] james-poulose opened #66 "Conditional Icon Binding on DataGrid"
I am trying to conditionally display icons using the below code.
[code]
I am not even able to compile this due to the error
`The member "Icon" is not recognized or is not accessible. `

Can someone suggest a way to do this?

[2021-11-11 17:35] keithnicholson opened #67 "Is this still being managed and updated?"
Good Day!

This looks incredible, but I'm concerned that it isn't updated to 5.x (won't worry about beta 6.X).  I would like to use this going forward, but with additional icons being added, I wonder.

[2021-12-10 01:39] NotAsea opened #68 "Is this still active and update for .Net 5 and 6?"
Hi, i need to know this still support .Net 5 and 6, seen i saw that it is only suitable for Net Framework